.block1{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    bottom:  0%;
    left: 25%;
    z-index: 2;
    margin: auto;
}

.block2{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 62%;
    bottom: 166px;
    z-index: 3;
}

.block3{
    height: 150px;
    width:150px;
    background-color: yellow;
    position: absolute;
    left: 5%;
    bottom: 130px;
    z-index: 1;
}